body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 34px);
    grid-gap: 1px;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font: inherit;
    background: none;
    border: none;
    cursor: pointer;
}
